<h1>Posts</h1>
<%= link_to 'Go Back', posts_path, class: 'ui red basic button' %>
<div class="ui divider"></div>
<h3><%= @post.content%> </h3>
<div class="ui divider"></div>

<div> Post your comment: </div>

<%= fields_for @comment do |u| %>
    <%= u.label :entry %>
    <%= u.text_area :body %>
    <%= u.submit "Submit" %>
    <div class="ui divider"></div>
   <% end %>
